<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hearty | Diagnosis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/modal.css">
  <link rel="shortcut icon" href="/static/images/sa_logo.ico" />
</head>

<body>
  {% load static %}
  {% load crispy_forms_tags %}
    <div class="container">
      <header>
        <div class="nav-brand">
          <a class="nav-item" href="{% url 'home-page'%}">
            <img class="logo" src="{% static '/images/logo.svg' %}" alt="Hearty Logo">
          </a>
        </div>
        <nav>
          <a class="hide-desktop"><img src="{% static '/images/ham.svg' %}" alt="toggle menu" class="menu" id="menu"></a>  
          <ul class="show-desktop hide-mobile" id="nav">
            <li id="exit" class="exit-btn hide-desktop"><img src="{% static '/images/exit.png' %}" alt=""></li>
            <li><a href="{% url 'home-page'%}">Home</a></li>
            <!-- <li><a href="{% url 'information-page'%}">How it works</a></li> -->  
            <li><a href="{% url 'diagnosis-page'%}">Diagnosis</a></li>
            <li><a href="{% url 'diagnosis-page'%}" class="cta-nav">Get started</a></li>
          </ul>
        </nav>
      </header>
    </div>

    <section>
      <div class="dark-container-2">
        <div class="container">
          <h1>Find out how healthy your really heart is</h1>
          <p class="subhead-form">
            All you need to do is fill out the form below, and our specialised algorithm will do the work
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="form-outline">
          <h2 class="form-heading">
            Input your information below
          </h2>
          <div class="container-form">
            <form method='POST' id="form-submit">
              {% csrf_token %}
              {{form|crispy}}
              <button type='submit' class="cta" style="margin-top: 2em" id='submit'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>  

    <section>
      {% if messages %}
      <div class="modal-form" id="simple-modal">
        <div class="modal-content-form">
          <span class="close-btn">&times;</span>
          <div class="modal-container">
            <div class="modal-text">
              <ul>
              {% for message in messages %}
              <h1>
              <li>
              {{ message }}
              </li>
              </h1>
              {% if message.message == 'At risk of heart disease' %}
                <p>
                <b>Don't stress!</b> This happens to many people, you've taken the first step in getting tested
                </p>
                <a href="{% url 'results-positive-page'%}" class="cta-modal">What to do next</a>
              {% else %}
                <p>
                <b>Great news!</b> Keep up the good work, and remember to maintain a healthy lifestyle and diet
                </p>
                <a href="{% url 'results-negative-page'%}" class="cta-modal">What to do next</a>
              {% endif %}
              {% endfor %}
              </ul>
              <h6>
                We've put together some information you might find useful
              </h6>
            </div>
            <img class="modal-img-mobile form-hide-desktop" src="{% static '/images/heart_left.svg' %}" alt="Heart">  
            <img class="modal-img-desktop form-hide-mobile" src="{% static '/images/heart_shadow.svg' %}" alt="Heart">  
          </div>
        </div>
      </div>
      {% endif %}
    </section>  
    
    <footer>
      <div class="footer-container">
        <div class="container">
          <a href="{% url 'home-page'%}">
            <img class="sa-logo" src="{% static '/images/sa_logo.png' %}" alt="Hearty Logo">
          </a>  
          <p class="address">13 Ancora Imparo Way,  Monash University,  3800<br>VIC</p>
          <ul class="footer-links">
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </footer>

  <script src="/static/js/modal.js"></script>
  <script src="/static/js/menu.js"></script>

</body>
</html>